<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "preProcessorToLower"
          class = "edu.school21.spring.preprocessor.PreProcessorToLowerImpl">
    </bean>

    <bean id = "preProcessorToUpper"
          class = "edu.school21.spring.preprocessor.PreProcessorToUpperImpl">
    </bean>

    <bean id = "rendererErrProcToUpper"
          class = "edu.school21.spring.renderer.RendererErrImpl">
        <constructor-arg ref = "preProcessorToUpper"/>
    </bean>

    <bean id = "rendererStandardProcToLower"
          class = "edu.school21.spring.renderer.RendererStandardImpl">
        <constructor-arg ref = "preProcessorToLower"/>
    </bean>

    <bean id = "printerWithPrefix"
          class = "edu.school21.spring.printer.PrinterWithPrefixImpl">
        <constructor-arg ref = "rendererErrProcToUpper"/>
        <property name = "prefix" value = "Prefix"/>
    </bean>

    <bean id = "printerWithDateTime"
          class = "edu.school21.spring.printer.PrinterWithDateTimeImpl">
        <constructor-arg ref = "rendererStandardProcToLower"/>
    </bean>

</beans>